@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@import "tailwindcss";
@import "@nuxt/ui";

/* 2. APLICAR GLOBALMENTE */
html, body {
  font-family: 'Inter', sans-serif !important; /* Força Inter em tudo */
  color: #101010; /* Garante o preto da marca */
  -webkit-font-smoothing: antialiased;
}

/* 3. CLASSE ESPECIAL PARA TÍTULOS (Use class="font-serif") */
.font-serif {
  font-family: 'Playfair Display', serif !important;
}

/* 4. CLASSE PADRÃO (Use class="font-sans") */
.font-sans {
  font-family: 'Inter', sans-serif !important;
}